.upcoming-movie-section {
  background-color: #000000;
}

.text-point {
  color: #f27127;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.title .material-symbols-rounded {
  margin-bottom: 0.2em;
  font-size: 2.6em;
}

.title h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 753px) {
  .title {
    margin-top: 2em;
  }
}
