.banner-section {
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-section::before {
  content: "";
  background: linear-gradient(to right, #000000, transparent);
  position: absolute;
  width: 100%;
  height: 60vh;
  left: 0;
}

.swiper .swiper-pagination-bullet {
  background-color: #ffffff;
}

.banner-text-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
}

.banner-text-section > * {
  z-index: 2;
}

.banner-text-section h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.6em;
  margin-bottom: 0.2em;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.movie-info {
  color: rgba(255, 255, 255, 0.416);
  display: flex;
  margin-bottom: 0.6em;
}

.movie-info p {
  display: flex;
  align-items: center;
  margin-right: 1.8em;
}

.movie-info p span {
  margin-right: 0.3em;
}

@media screen and (max-width: 576px) {
  .banner-text-section {
    width: 100%;
    padding: 1em;
  }

  .banner-text-section h1 {
    font-size: 2em;
  }

  .banner-text-section .overview {
    font-size: 0.8em;
  }
}
