.movie-card {
  width: 220px;
  height: 330px;
  background-size: cover;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 1s;
  color: #ffffff;
  overflow-wrap: break-word;
  border-radius: 10px;
  padding: 2em 1em;
}

.overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  transform: scale(1.2) translateZ(20px);
  z-index: 2;
  border: 2px solid #ffffff;
}

.age {
  background-color: #f27127;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.movie-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.6em;
}

.genre {
  margin: 0.6em 0.4em 1em 0;
}

.genre .badge {
  margin: 0 0.4em 0.2em 0;
  opacity: 0.7;
}

.movie-info {
  display: flex;
  align-items: center;
}

.movie-star {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-right: 0.4em;
}

.favorite {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-right: 0.4em;
}
