h4 {
  font-family: "Poppins", sans-serif;
}

.dropdown-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f27127;
  border: none;
}

.dropdown-toggle:hover {
  background-color: #f27127;
  border: none;
}

.dropdown-toggle.show {
  background-color: #f27127;
  border: none;
}

.dropdown-menu {
  width: 100%;
  --bs-dropdown-link-active-bg: #f27127;
}

.sort-section {
  margin-bottom: 2em;
}

.genre-button-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.genre-button {
  margin: 0.4em 0.6em 0.4em 0;
  padding: 0.5em 1.2em;
  border-radius: 10px;
  font-size: 0.9em;
  background-color: #ffffff;
}

.genre-button.selected {
  background-color: #f27127;
  color: #fff;
}

.movie-card {
  margin-bottom: 2em;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1.8em 0 3em 0;
}

.page-item .page-link {
  background-color: #222222;
  border: 1px solid #d5d5d5;
  color: #ffffff;
  cursor: pointer;
}

.page-item .page-link:hover {
  background-color: #f27127 !important;
  color: #ffffff;
}

.disabled .page-link {
  color: #444444;
}

.active .page-link {
  border: 1px solid #d5d5d5;
  background-color: #f27127 !important;
  color: #ffffff;
}
